.entry-form
  = form_for @entry do |f|
    %label What are the 3 things you are happy about today?
    
    = f.fields_for :entry_items do |i|
      .entry-item-field
        = i.text_field :content
    .actions
      = f.submit 'Save'
